@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  /* background: #10620c; */
  border-radius: 25px;
  transition: all 0.15s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  /* background: rgba(157, 157, 154, 1); */
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* a {
  text-decoration: none;
  color: #fff;
} */

.signin__content {
  position: relative;
  width: 100vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* color: white; */
  /* background: rgb(5, 79, 17);
  background: linear-gradient(
    135deg,
    rgba(5, 79, 17, 0.99) 9%,
    rgba(0, 0, 0, 1) 50%,
    rgba(5, 62, 15, 1) 93%
  ); */
}

.signin__back {
  display: none;
}

.signin__inputFields > input {
  font-family: "productSans";
  margin-bottom: 0.5em;
  margin-left: 20px;
  width: 70%;
  height: 1.3em;
  font-size: 1.3rem;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1.5px solid grey;
  /* color: #fff; */
}

.signin__label {
  margin-left: 20px;
  font-family: "productSans";
  font-size: 1.5rem;
  margin-bottom: 0.4em;
}

.signin__div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: 1em; */
}

/* select option {
  background-color: #054611;
} */

/* select option:hover {
  background-color: #000;
} */


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signin__page {
  width: 35%;
  padding: 1em;
  /* overflow: hidden; */
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.47);
  border-radius: 1rem;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.signin__inputFields {
  display: flex;
  flex-direction: column;
}

.signin__title {
  text-decoration: underline;
  text-align: center;
  margin: 0%;
  font-size: 2.5rem;
  /* margin-bottom: 0.5%; */
}

.signin__text {
  text-align: center;
  font-size: 1.3em;
  margin: 0 0 0.5em 0;
}

.signin__link {
  font-weight: bold;
  margin-left: 0.5em;
}

.signin__select {
  /* background-color: transparent; */
  /* color: #fff; */
  padding: 0.3em;
  border: 0;
  outline: 0;
  font-size: 1em;
  width: 50%;
  border-bottom: 1.5px solid ;
  margin: 0;
}

.signin__button {
  margin: 0.7em 0;
  font-size: 1.5em;
  width: 30%;
  padding: 0.4em 1.5em;
  margin-right: 12px;
  border-radius: 7px;
  /* background: linear-gradient(to right, green, rgb(17, 39, 7)); */
  border: none;
  /* color: #fff; */
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.2s;
}

.signin__button:active {
  transform: scale(0.9);
}

@media (max-width: 1089px) {
  body {
    font-size: 13.6px;
  }
  .signin__title {
    font-size: 2.5rem;
  }
  .signin__button {
    width: 40%;
    padding: 0.4em 1.6em;
    margin-right: 9px;
  }
}

@media (max-width: 924px) {
  body {
    font-size: 13px;
  }
  .signin__inputFields > input::placeholder {
    font-size: 1rem;
  }

  .signin__button {
    padding: 0.2em 1em;
    margin-right: 8px;
    border-radius: 6px;
  }
}

@media (max-width: 885px) {
  body {
    font-size: 11px;
  }
}

@media (max-width: 775px) {
  body {
    font-size: 9px;
  }
  .signin__title {
    font-size: 2.5em;
  }
  .signin__logo {
    max-width: 30em;
  }
  .signin__page {
    width: 40%;
  }
  .signin__button {
    font-size: 15px;
  }
  .signin__text {
    font-size: 15px;
  }
  .signin__inputFields {
    width: 100%;
  }
}
@media (max-width: 670px) {
  body {
    font-size: 9px;
  }
  .signin__logo {
    max-width: 25em;
  }
  .signin__page {
    width: 50%;
  }
  .signin__button {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 13px;
  }
  .signin__content {
    /* height: 100%; */
    padding-top: 10%;
    padding-bottom: 15%;
    /* text-align: center; */
    flex-direction: column;
  }
  .signin__logo {
    width: 85%;
    margin: 0 auto;
  }
  .signin__page {
    margin-top: 2%;
    width: 80%;
  }
  .signin__label {
    font-size: 1rem;
  }
  .signin__inputFields > input {
    font-size: 1rem;
    width: 75%;
  }
}
@media (max-width: 445px) {
  body {
    font-size: 12px;
  }
  .signin__inputFields > input {
    font-size: 0.8rem;
    width: 80%;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 11px;
  }
}
@media (max-width: 337px) {
  body {
    font-size: 11px;
  }
  .signin__inputFields > input {
    font-size: 0.8rem;
    width: 90%;
  }
  .signin__label {
    font-size: 1rem;
  }
}
