.resHangView{
    width:60%;
}
@media only screen and (max-width:900px) {
    .resHangView{
    width:80%;
}
}
@media only screen and (max-width:800px) {
    .resHangView{
    width:95%;
}
}
@media only screen and (max-width:650px) {
    .resHangView{
    width:95%;
}
.resHangViewData{
    margin-top: 30px;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
}
}